@model Projet_Bibliotheque.Models.Prets

@{
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Supprimer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_de_Pret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_de_Pret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_de_retour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_de_retour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Livres.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livres.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membres.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membres.Nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour a la liste", "Index")
        </div>
    }
</div>
