@model Projet_Bibliotheque.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Livres.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Livres.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membres.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membres.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id_Reserv }) |
    @Html.ActionLink("Retour a la liste", "Index")
</p>
